*.h5
*.json
*.ipynb
*.ipynb_checkpoints
*.csv
*.jpg

my_model.h5
GitHub.sln
.vs/slnx.sqlite
.vs/GitHub/v15/.suo
.vs/stock_project_2018/v15/.suo
test.py

*.pyc
*.zip
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.cpp
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.o
build-stockgui-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/stockgui.exe
*.idea
build-stockgui-Desktop_Qt_5_10_1_GCC_64bit-Debug/qrc_qml.o
build-stockgui-Desktop_Qt_5_10_1_GCC_64bit-Debug/.qmake.stash
build-stockgui-Desktop_Qt_5_10_1_GCC_64bit-Debug/Makefile
build-stockgui-Desktop_Qt_5_10_1_GCC_64bit-Debug/main.o
build-stockgui-Desktop_Qt_5_10_1_GCC_64bit-Debug/qrc_qml.cpp
build-stockgui-Desktop_Qt_5_10_1_GCC_64bit-Debug/stockgui
stockgui/main.qmlc
python_code/mpl_finance.py
122.116.253.158
182.202.222.67
ipchange.py
proxy
proxy
